@charset "utf-8";
/*전체 관리영역*/
*{
    font-family: ;
    font-size: ;
 
  

}   /*루트-*/

html{

}/*-영역*/

body{
    background-image: url(./bg.jpg);
  font-family: Arial, Helvetica, sans-serif;
  color: #302f2f;
}

header{
    width: 100%;
    margin: 1rem auto 2,5rem auto;
 
   
    
  /*margin: 0 ; 상하좌우 전부0값 */
  /*margin: 0 auto;  상하는0, 좌우는 auto */
  /*margin: 0 auto 40px;  사방치기 상 좌우 하*/
  /*margin: 0 auto 20px 40px; 상0 우0 하20px 왼40px */
}

header h1{
    text-align: center;
    padding: 1rem auto;
  

}
/*img, span,input : 인라인 속성 -> 줄바꿈이 일어나지 않는 속성
  h1~h6, p, div, : 블럭속성 -> 줄바꿈이 일어남
  h1~h6, p : 텍스트속성 -> 전용 정렬모드가가 따로 존재
  블록 : 상, 하값 모두 가짐, 인라인 : 상, 하값을 못가짐
  블록 > 인라인*/

  header h1 .logo{
      padding: 2rem;
}
header .gub ul{
      display: flex;
      justify-content: center;
    border-top: 1px solid #714941 ;
    border-bottom: 1px solid #714941 ;
    padding: 1rem 0 1rem;
    background-color: rgba(255, 255, 255, .1)
    
}
header li{
    padding: 0 1.5rem;
    font-size: 2.2rem;
    font-weight: bold;
    color: #866738;
}
header li a:hover{
    color: rgb(255, 102, 0);
}

/*바닥단*/
footer{
    background-color: #714941;
    color: white;
    text-align: center;
    padding: 0.9rem 0.5rem 1.5rem;
     
    /*background-color: var();void-공허 function-함수(박스) var-변수*/
     
}

